.img-servicios {
  max-width: 100px;
}
.servicios {
  background-color: #47c8ef5e;
  h2 {
    color: #ffdd0099;
    font-family: "Roboto Slab", serif;
  }
  p {
    color: rgba(255, 255, 255, 0.71);
    font-size: 1.1rem;
    font-family: sans-serif, Arial, Helvetica;
  }
}
